# =========================

# General

# =========================

.DS_Store
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test
.env.build
client/.env.example
server/.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================

# Node.js / Backend

# =========================

node_modules/
package-lock.json
dist/
build/

# =========================

# React / Frontend

# =========================

client/node_modules/
client/dist/
client/build/

# =========================

# Python / FastAPI

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments

venv/
env/
.venv/

# =========================

# ML / Data Files

# =========================

uploaded.csv
*.csv
*.xlsx
*.pkl
*.joblib

# =========================

# OS / Editor

# =========================

.vscode/
.idea/
*.swp
*.swo

# =========================

# Mac / Linux

# =========================

.DS_Store

# =========================

# Logs

# =========================

logs/
*.log
